#navbar{
    position: sticky;
    top: 0px;
   
}

#content{
   height: 1500px;
   background-color: salmon;
}

#footer{
    position: sticky;
    bottom:0px;
    
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}