body{
    background-color: salmon;
}

#navbar{
    position: sticky;
    top: 0px;
    z-index:1;
}

#content{
   
}

#footer{
    position: sticky;
    bottom:0px;
    
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}