<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AmediA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link active" href="#" data-components="all-posts">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" data-components="write-post">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-components="my-posts">My Posts</a>
        </li>
      </ul>
      <div id="auth-name" class="ml-auto text-primary font-weight-bold">
        author-name
      </div>
    </div>
  </nav>

  <script src="/app/navbar.js"></script>

  <script> 
  </script>