<div class="container my-2">

    <h1 class="h1 text-center">WRITE POST</h1>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email. We respect your privacy.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="form-group">
            <label for="p-title">Post Title</label>
            <textarea class="form-control form-control-sm" id="p-title" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="p-body">Post Body</label>
          <textarea class="form-control form-control-lg" id="p-body" rows="4"></textarea>
        </div>
        <button type="submit" id="write-btn" class="btn btn-primary">Submit</button>
      </form>

</div>

<script src="/app/write-post.js"></script>
<script>
  
</script>